<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
    <h3>전체 메뉴 조회 </h3>
<table>
    <tr>
        <th>코드</th>
        <th>이름</th>
        <th>가격</th>
        <th>카테코리코드</th>
        <th>주문가능여부</th>
    </tr>

    <tr th:each="menu : ${menus}">
        <td th:text="${menu.code}"></td>
        <td th:text="${menu.name}"></td>
        <td th:text="${menu.price}"></td>
        <td th:text="${menu.categoryCode}"></td>
        <td th:text="${menu.orderableStaus}"></td>
    </tr>
</table>



</body>
</html>